body{
	padding:10%;
	background-color: #fff8dc;
	overflow-y:scroll;
	padding-left: 35%;
}
h1{
color:#CD853F;	
}
 
li {
    list-style-type: none; 
       }
.imp{
	color: red;

}

   table{
   	  border-collapse: collapse;
   	  border-spacing: 0;
      position: fixed;
   		bottom: 0;
   		left:0;
     	width: 100%;
     	padding:20px;

   }
   td{
  	text-align:center; 
  	width:50%;
   
}
